[user]
  name = mhag
  email = hagihar@gmail.com
[color]
  status = auto
  diff = auto
  branche = auto
  interactive = auto
  grep = auto
[alias]
  st = status --branch --short
[core]
  excludesfile = ~/.gitignore

[credential]
  helper = osxkeychain
[http]
  postBuffer = 104857600
[push]
  default = nothing
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[interactive]
	diffFilter = diff-highlight
[diff]
	compactionHeuristic = true
